
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* Dashboard Layout */
.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #2c2c2c;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar p {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar p:hover {
  background: #444;
}

/* Main Section */
.main {
  flex: 1;
  padding: 30px;
}

/* Add Task Button */
.add-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background: #0056b3;
}

/* Task Card */
.task {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Delete Button */
.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background: darkred;
}

/* Modal Background */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Box */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* Smooth hover */
.task:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
/* Auth Container (Login/Register) */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Auth Box */
.auth-box {
  background: #d1c6ee;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

/* Inputs */
.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* Button */
.auth-box button {
  width: 100%;
  padding: 10px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Link */
.link {
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

/* Error */
.error {
  color: red;
  font-size: 12px;
  text-align: left;
}